/* Structure */
body{
    background-color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
}
#content{
    background-color: white;
    margin:auto;
    border-radius: 10px;
}
#item{
    background-color: rgba(135, 207, 235, 0.689);
    padding: 5px;
}
img{
    width: 300px;
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#items a{
    color: #fff;
    text-decoration: none;
}
/* Navigation */
#main-nav ul{
    padding-left: 0;
}
#main-nav li{
    list-style: none;
}
#main-nav a{
    text-decoration: none;
    background-color: #517c8d;
    color: white;
    padding: 5px;
}
/* Typography */
h1{
    color: #446776;
    text-align: center;
}
h2{
    color: #446776;
    text-align: center;
}
h3{
    color: #446776;
    text-align: center;
}
p{
    color: #1b292f;
    text-align: center;
}
#items .p-link{
    color: #1b292f;
    text-align: center;
}

/* Media Queries */
@media only screen and (min-width:600px){
    .columns{
        display: flex;
        flex-wrap: wrap;
    }

    .one{
        flex:1
    }

    .two{
        flex: 2;
    }

    .three{
        flex:3;
    }

    .four{
        flex: 4;
    }

    #main-nav li{
        flex: 1;
    }
    #content{
        flex-direction: column;
    }
}

@media only screen and (min-width:760px){

}